<a href="https://colab.research.google.com/github/gabrielalastra/WaterStatsEU/blob/main/WaterStatsEU_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [6]:
path='/content/env_wat_abs_1_Data.csv'

In [7]:
import chardet
with open(path, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'confidence': 1.0, 'encoding': 'ascii', 'language': ''}

In [10]:
db = pd.read_csv(path, encoding='ascii', error_bad_lines=False, sep=',')
db.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

,TIME,GEO,WAT_PROC,WAT_SRC,UNIT,Value,Flag and Footnotes
0,2010,Belgium,Total gross abstraction,Fresh surface water,Million cubic metres,"5,340.72",NaN
1,2010,Belgium,Total gross abstraction,Fresh surface water,Cubic metres per inhabitant,490.17,NaN
2,2010,Belgium,Total gross abstraction,Fresh groundwater,Million cubic metres,612.40,NaN
3,2010,Belgium,Total gross abstraction,Fresh groundwater,Cubic metres per inhabitant,56.21,NaN
4,2010,Belgium,Water abstraction for public water supply,Fresh surface water,Million cubic metres,261.00,s

In [12]:
print(db.isnull().value_counts())
print(db.isna().value_counts())

TIME   GEO    WAT_PROC  WAT_SRC  UNIT   Value  Flag and Footnotes
False  False  False     False    False  False  True                  19880
                                               False                  1400
dtype: int64
TIME   GEO    WAT_PROC  WAT_SRC  UNIT   Value  Flag and Footnotes
False  False  False     False    False  False  True                  19880
                                               False                  1400
dtype: int64

In [16]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21280 entries, 0 to 21279
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TIME                21280 non-null  int64
 1   GEO                 21280 non-null  object
 2   WAT_PROC            21280 non-null  object
 3   WAT_SRC             21280 non-null  object
 4   UNIT                21280 non-null  object
 5   Value               21280 non-null  object
 6   Flag and Footnotes  1400 non-null   object
dtypes: int64(1), object(6)
memory usage: 1.1+ MB

In [17]:
db = db.drop(columns=['Flag and Footnotes'])

In [18]:
db.to_csv(r'waterstats.csv', index=False, header=True)